<p class="lead">
    Add your items to the coresponding list:
</p>
<!-- First input uses local reference -->
<div class="mb-3">
    <input
        class="form-control rounded-0 shadow-none"
        type="text"
        placeholder="Item name..."
        #itemName
    >    
</div>
<!-- Second input uses @ViewChild() -->
<div class="mb-3">
    <input
    class="form-control rounded-0 shadow-none"
    type="text"
    placeholder="Description..."
    #itemDescription
    >
</div>

<div *ngIf="infoMissingError" class="alert alert-danger rounded-1 p-2">
    Please fill both fields!
</div>  
<button (click)="onAddImportant(itemName)" class="btn btn-primary rounded-2 me-3 mb-3">Important</button>
<button (click)="onAddUnimportant(itemName)" class="btn btn-warning rounded-2 me-3 mb-3">Unimportant</button>
<button (click)="onClearBoth()" class="btn btn-success rounded-2 me-3 mb-3">Clear both Lists</button>

