

<h2 class="headtitle">The Basics - 8 Lessons.</h2>

<div class="row m-3 mt-5">
  
    <app-one-data-binding class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-one-data-binding>
    <app-two-property-binding class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-two-property-binding>
    <app-three-event-binding class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-three-event-binding>
    <app-four-ng-if class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-four-ng-if>
    <app-five-ng-if-else class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-five-ng-if-else>
    <app-six-ng-for class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-six-ng-for>
    <app-seven-ng-style class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-seven-ng-style>
    <app-eight-ng-class class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-eight-ng-class>
    <app-nine-thank-you class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5"></app-nine-thank-you>

</div>


  
