

<h2 class="headtitle niceblue">The Basics - 8 Lessons.</h2>

<div class="container-fluid">
    <div class="row m-3 mt-5">
        <app-one-data-binding class="lessonbox"></app-one-data-binding>
        <app-two-property-binding class="lessonbox"></app-two-property-binding>
        <app-three-event-binding class="lessonbox"></app-three-event-binding>
        <app-four-ng-if class="lessonbox"></app-four-ng-if>
        <app-five-ng-if-else class="lessonbox"></app-five-ng-if-else>
        <app-six-ng-for class="lessonbox"></app-six-ng-for>
        <app-seven-ng-style class="lessonbox"></app-seven-ng-style>
        <app-eight-ng-class class="lessonbox"></app-eight-ng-class>
        <app-nine-thank-you class="lessonbox"></app-nine-thank-you>
    </div>
</div>