
<section class="headtitle">
    <h2 class="niceblue headingbg">The Basics - 8 Lessons.</h2>
</section>

<section class="container-fluid">
    <div class="row ms-3 me-3 mt-5 pt-5 d-flex justify-content-around">

        <app-one-data-binding class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-one-data-binding>
        <app-two-property-binding class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-two-property-binding>
        <app-three-event-binding class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-three-event-binding>
        <app-four-ng-if class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-four-ng-if>
        <app-five-ng-if-else class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-five-ng-if-else>
        <app-six-ng-for class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-six-ng-for>
        <app-seven-ng-style class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-seven-ng-style>
        <app-eight-ng-class class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-eight-ng-class>
        <app-nine-thank-you class="lessonbox me-1 col-md-6 col-lg-5 col-xxl-3"></app-nine-thank-you>

        
    </div>
</section>