.btn-blueBg {
    color: white;
    background-color: #3656bf;
}
.blueLike {
    color: #3656bf;
}
.btn-bordeauxBg {
    color: white;
    background-color: #660021;
}
.emojiImg {
    height: 50px;
    width: auto;
  }
.text {
    border-radius: 3px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}