


<h2 class="headtitle">About.</h2>

<div class="ps-4 m-3 mt-5">

    <p class="lead">Hi, my name is Nick.</p>
    <p class="lead">This project started as an Angular playground, I practiced everything here.</p>
    <p class="lead">I decided to make it look like a mini website with exercises for every lesson and then I added the sections.</p>
    <p class="lead">I came up with this idea when I started 
        <a
            class="nodecor"
            href="https://www.udemy.com/course/the-complete-guide-to-angular-2/#instructor-1"
            target="_blank"
            ><u>Maximilian's</u>
        </a>
        course, Max is a great teacher, not my favourite though [ hi Mosh ].
    </p>
    <p class="lead">I update this project constantly as I am learning and as long as it's easy for me to do so.</p>
    <p class="lead">I am not a teacher but someone can get help from my ideas as I was trying to make my own exercises.</p>
    <p class="lead">This project is powered by 
        <a  class="nodecor"
            href="https://getbootstrap.com/"
            target="_blank"
            ><u>Bootstrap</u>
        </a>
        library for fast styling as I wanted to focus in 
        <a  class="nodecor"
            href="https://angular.io/"
            target="_blank"
            ><u>Angular</u>
        </a>
        and 
        <a  class="nodecor"
            href="https://www.typescriptlang.org/"
            target="_blank"
            ><u>TypeScript</u>
        </a>
        the most.</p>
        <p class="lead">Although I added some custom CSS.</p>
        <p class="mt-5 lead">Thank you!</p>
        <p class="mt-3 lead">Nick.</p>


    <a  class="mt-5 nodecor btn btn-primary text-white"
        href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        back to home
    </a>
</div>
