

<section class="headtitle">
    <h2 class="niceblue headingbg">About.</h2>
</section>

<section class="ps-4 ms-5 mt-5 niceblue">
    <p class="lead paragraphbg">This project started as an Angular playground, I practiced everything here.</p>
    <p class="lead paragraphbg">I decided to make it look like a mini website with exercises for every lesson and then I added the sections.</p>
    <p class="lead paragraphbg">I came up with this idea when I started 
        <a
            class="inherit"
            href="https://www.linkedin.com/in/maximilian-schwarzmueller/"
            target="_blank"
            >Maximilian's</a>
        course, Max is a great teacher and my second favourite [ hi 
        
        <a
            class="inherit"
            href="https://www.linkedin.com/in/mosh-hamedani/
            "
            target="_blank"
            >Mosh</a>

        ].
    </p>
    <p class="lead paragraphbg">I update this project constantly as I am learning and as long as it's easy for me to do so.</p>
    <p class="lead paragraphbg">I am not a teacher but with this project I keep myself involved as much as I can and I am trying to make my own exercises.</p>
    <p class="lead paragraphbg">This project is powered by 
        <a  class="inherit"
            href="https://getbootstrap.com/"
            target="_blank"
            ><u>Bootstrap</u>
        </a>
        library for fast styling as I wanted to focus in 
        <a  class="inherit"
            href="https://angular.io/"
            target="_blank"
            ><u>Angular</u>
        </a>
        and 
        <a  class="inherit"
            href="https://www.typescriptlang.org/"
            target="_blank"
            ><u>TypeScript</u>
        </a>
        the most.</p>
        <p class="lead paragraphbg">Although I added some custom CSS.</p>
        <p class="mt-5 lead paragraphbg">Thank you!</p>
        <p class="mt-3 lead paragraphbg">Nick</p>


    <button class="mt-4 nodecor btn btn-primary text-white"
        routerLink="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        back to home
    </button>
</section>
