<h4>5. Binding to Directive Properties</h4>
<p class="lead">Choose your favorite colours to style the icon!</p>

<div class="row">
    <div class="col">
        <select class="form-select shadow-none rounded-1" aria-label="Default select example">
            <option selected>Main colour</option>
            <option value="1">Amaranth</option>
            <option value="2">Glaucous</option>
            <option value="3">Celadon</option>
        </select>
    </div>
    
    <div class="col">
        <select class="form-select shadow-none rounded-1" aria-label="Default select example">
            <option selected>Border colour</option>
            <option value="1">Viridian</option>
            <option value="2">Merlot</option>
            <option value="3">Daffodil</option>
        </select>
    </div>
</div>


