<h4>5. Binding to Directive Properties</h4>
<p class="lead">Choose your favorite colour and click the icon to pass the style!</p>
<div class="row">
    <div class="col">
        <select class="form-select shadow-none rounded-1" aria-label="Default select example">
            <option (click)="onFillClick()" selected>Fill colour</option>
            <option (click)="onSelectAmaranth()">Amaranth</option>
            <option (click)="onSelectGlaucous()">Glaucous</option>
            <option (click)="onSelectCeladon()">Celadon</option>
        </select>
    </div>  
</div>
<p *ngIf="extraInstructions" class="lead mt-2">Now click on the icon!</p>
<p *ngIf="response" class="lead mt-2">{{responseText}}</p>
<div class="row mt-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-heart-fill text-secondary" viewBox="0 0 16 16">
        <path (click)="onIconClick()" appColours [fillColor]="fillColour" class="cursor-pointer" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
    </svg>
</div>