
<div class="wishBox alert alert-dismissible align-items-center">
    <ng-content></ng-content>
    <!-- <div *ngIf="element.type === 'immediate'">
        <h5><u class="text-success">{{element.name}}</u>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
            <em class="lead">{{element.description}}</em>
        </h5> 
    </div>

    <div *ngIf="element.type === 'future'">
        <h5>{{element.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
            <em class="lead">{{element.description}}</em>
        </h5> 
    </div> -->
    <button (click)="deleteItem()" type="button" class="btn-close shadow-none"></button>
</div>
