
<div class="box">
    <h4>2. Property Binding</h4>

    <p
      class="lead">
      Insert data and add it to the list.
    </p>

    <input
      class="form-control rounded-0 shadow-none"
      type="text"
      [(ngModel)]="data"
    ><br>
    
    <button [disabled]="data === '' ? true : false" (click)="addData()" class="btn btn-primary rounded-1 me-3">Add data</button>  
    <button [disabled]="isDisabled" (click)="removeData()" class="btn btn-warning rounded-1 me-3">Remove data</button>  
    <button [disabled]="isDisabled" (click)="clearArray()" class="btn btn-secondary rounded-1 me-3">Clear list</button>  
  
    <h5 class="pt-4">Data list:</h5>
    <small>{{ dataArray.length === 0 ? 'empty' : '' }}</small>
    <div *ngFor="let item of dataArray">{{ item }}</div>
</div>

