
<h4>Thank you!</h4>

<p class="lead">
    I hope you find this project helpful.
</p>
<hr>

<a href="https://github.com/nickpolizogopoulos" target="_blank"> GitHub</a>

<table>
    <tbody>
        <tr>
            <td class="align-bottom">
                <img width="120px" src="../../assets/images/learners-dog.png" alt="A lovely white dog">
            </td>
            <td class="align-bottom">
                <img src="../../assets/images/learner.png" alt="A yound learner">

            </td>
        </tr>
    </tbody>
</table>
