
<h4>Thank you!</h4>

<p class="lead">
    I hope you find this project helpful.
</p>
<hr>

<a class="nodecor" href="https://github.com/nickpolizogopoulos" target="_blank">This is my <u>GitHub</u>!</a>

<table>
    <tbody>
        <tr>
            <td class="align-bottom">
                <img width="110px" src="../../assets/images/learners-dog.png" alt="A lovely white dog">
            </td>
            <td class="align-bottom">
                <img width="150px" src="../../assets/images/learner.png" alt="A yound learner">
            </td>
        </tr>
    </tbody>
</table>
