
<div style="background-color: rgb(223, 240, 255);">
  <h3 class="p-4 niceblue">
    This is my Angular playground, I practice everything I learn here.
    <span class="text-muted">This section is for the Basics.</span>
    Nice.
  </h3>
</div>


<div  class="m-3">
  <div class="row">
    

    <div class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5">
      <app-data-binding></app-data-binding>
    </div>

    
    <div class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5">
      <app-property-binding></app-property-binding>
    </div>
    
    <div class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5">
      <app-event-binding></app-event-binding>
    </div>

    <div class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5">
      <app-ngif></app-ngif>
    </div>

    <div class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5">
      <app-if-for-directives></app-if-for-directives>
    </div>

    <div class="box col-xxl-3 col-xl-3 col-lg-5 col-md-5">
      <app-if-else-directive></app-if-else-directive>
    </div>
    

  </div>
</div>

  

