
<div style="background-color: rgb(223, 240, 255);">
  <h3 class="p-4 niceblue">
    This is my Angular playground, I practice stuff in here.
    <span class="text-muted">It uses Bootstrap for easy styling and some custom css.</span>
    Nice.
  </h3>
</div>


<div  class="m-3">
  <div class="row">
    

    <div class="box col-xxl-4 col-xl-4 col-lg-5 col-md-5">
      <app-data-binding></app-data-binding>
    </div>

    
    <div class="box col-xxl-4 col-xl-4 col-lg-5 col-md-5">
      <app-property-binding></app-property-binding>
    </div>
    
    <div class="box col-xxl-4 col-xl-4 col-lg-5 col-md-5">
      <app-event-binding></app-event-binding>
    </div>

  </div>
</div>

  

