<section class="headtitle">
    <h2><mark>Components & Databinding - 3 Lessons.</mark></h2>
</section>

<section class="container-fluid">
    <div class="row ms-4 me-4 mt-5 pt-5 d-flex justify-content-around">

        <app-one-passing-data-between-components></app-one-passing-data-between-components>
        <div class="divline mb-5"></div>
        <app-two-viewchild-and-ngcontent></app-two-viewchild-and-ngcontent>
        <div class="divline mb-5"></div>
        <app-three-lifecycle-hooks></app-three-lifecycle-hooks>

    </div>
</section>


