<section class="container project-container">
    <div class="container niceblue">
        <h1>[Project - 04]: <u>FizzBuzz!</u></h1>
        <span class="lead">FizzBuzz quickly became my favorite exercise when I began learning to code.</span>
        <p class="lead mb-5">Here it is in Angular.</p>
        <ul class="nav nav-tabs">
            <li (click)="onOptionASelect()" class="nav-item">
                <span [ngClass]="{'active' : optionA}" class="nav-link inherit cursor-pointer">Check a single number</span>
            </li>
            <li (click)="onOptionBSelect()" class="nav-item">
                <span [ngClass]="{'active' : optionB}" class="nav-link inherit cursor-pointer">Run for a range from 1 to 500</span>
            </li>
            <li (click)="onOptionCSelect()" class="nav-item">
                <span [ngClass]="{'active' : optionC}" class="nav-link inherit cursor-pointer">Check all the numbers in a specific range</span>
            </li>
            <li (click)="onOptionDSelect()" class="nav-item">
                <span [ngClass]="{'active' : optionD}" class="nav-link inherit cursor-pointer">Play Random!</span>
            </li>
        </ul>
        <div style="max-width: 550px;">
            <div *ngIf="optionA" class="pt-5 pb-5">
                <label class="mb-2" for="input">Number Input</label>
                <input [(ngModel)]="optionAinput" class="form-control rounded-1 shadow-none" type="number" id="input">
            </div>
            <div *ngIf="optionB" class="pt-5 pb-5">
                <label class="mb-2" for="range" class="form-label">Example range</label>
                <input [(ngModel)]="rangeOfNumbers" type="range" min="1" max="500" class="form-range" id="range">
                <p>{{rangeOfNumbers}}</p>
            </div>
            <div *ngIf="optionC" class="pt-5 pb-5">
                <p><span class="text-danger"><u>Warning:</u></span> Big numbers can make your computer cry.</p>
                <div class="row">
                    <div class="col">
                        <label class="mb-2" for="fromNumber" class="form-label">From:</label>
                        <input [(ngModel)]="optionCfrom" class="form-control rounded-1 shadow-none mb-3" type="number" id="fromNumber">
                    </div>
                    <div class="col">    
                        <label class="mb-2" for="toNumber" class="form-label">To:</label>
                        <input [(ngModel)]="optionCto" class="form-control rounded-1 shadow-none mb-3" type="number" id="toNumber">
                    </div>
                </div>
            </div>
            <div *ngIf="optionD" class="pt-5 pb-5">
                <p>Generate a random number between 0 and 5000</p>
                <button (click)="rng()" class="btn btn-sm btn-success rounded-1">Generate</button>
                <div class="mt-3">
                    <div *ngIf="spinnerLoading" class="spinner-border" role="status"></div>
                    <p class="lead mt-3">{{randomNumber}}</p>
                </div>
            </div>
            <div *ngIf="alert" class="alert alert-danger rounded-1 p-2 ps-3" role="alert">
                Please, provide numbers only - no spaces / symbols / empty fields!
            </div>
        </div>
    
        <button (click)="onRun()" *ngIf="optionA || optionB || optionC" class="btn btn-sm btn-primary me-3 rounded-1">Run FizzBuzz!</button>
        <button [disabled]="!randomNumber" *ngIf="optionD" (click)="onRun()" class="btn btn-sm btn-primary me-3 rounded-1">Run FizzBuzz!</button>
        <button (click)="onReset()" *ngIf="optionA || optionB || optionC || optionD" class="btn btn-sm btn-secondary me-3 rounded-1">Reset</button>
    
        <p *ngIf="result" class="lead mt-4">{{result}}</p>
    
        <div class="row mt-4">
            <div *ngIf="fizzNumbers.length !== 0" class="col">
                <p class="lead">Fizz Numbers:</p>
                <span *ngFor="let number of fizzNumbers; let last = last;" >{{number}}{{!last ? ', ' : '.'}}</span>
            </div>
            <div *ngIf="buzzNumbers.length !== 0" class="col">
                <p class="lead">Buzz Numbers:</p>
                <span *ngFor="let number of buzzNumbers; let last = last;" >{{number}}{{!last ? ', ' : '.'}}</span>
            </div>
            <div *ngIf="fizzBuzzNumbers.length !== 0" class="col">
                <p class="lead">FizzBuzz Numbers:</p>
                <span *ngFor="let number of fizzBuzzNumbers; let last = last;" >{{number}}{{!last ? ', ' : '.'}}</span>
            </div>
            <div *ngIf="regularNumbers.length !== 0" class="col">
                <p class="lead">Regular Numbers:</p>
                <span *ngFor="let number of regularNumbers; let last = last;" >{{number}}{{!last ? ', ' : '.'}}</span>
            </div>
        </div>
    
    </div>
</section>