
body {
  background-image: url('../src/assets/images/background-image.png');
  background-attachment:fixed;
}
mark {
  color: rgb(36, 54, 99);
  background-color: white;
}

h2 {
  line-height: 140%;
}
.divline {
  background-color: rgb(154, 154, 154);
  height: 2px;
}
.cursor-pointer {
  cursor: pointer;
}
.lessonbox {
  color: rgb(36, 54, 99);
  padding: 40px;
  margin-bottom: 60px;
  width: 550px;
  box-shadow: 4px 4px 10px #cbcbcb;
  border: 1px solid rgb(225, 225, 225);
  transition: transform 0.3s;
  background-color: rgba(255, 255, 255, 0.92);
}
.lessonbox:hover {
  transform: translate(0px, -3px);
}
.niceblue {
  color: rgb(36, 54, 99);
}
.nodecor {
  text-decoration: none;
  cursor: pointer;
}
.inherit {
  color: inherit;
}
::-moz-selection { 
  color: inherit;
  background: #dcdcdc;
}
::selection {
  color: inherit;
  background: #dcdcdc;
}