body {
  background-image: url('../src/assets/images/background-image.png');
  background-attachment:fixed;
}
mark {
  color: rgb(36, 54, 99);
  background-color: white;
}

h2 {
  line-height: 140%;
}
.menlo {
  font-family: 'Menlo', sans-serif;
}
.divline {
  background-color: rgb(154, 154, 154);
  height: 2px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.addToTestText {
  font-size: 14px;
  color: rgb(185, 185, 185);
}
.lessonbox {
  color: rgb(36, 54, 99);
  padding: 40px;
  margin-bottom: 60px;
  width: 550px;
  border: 1px solid rgb(211, 211, 211);
  transition: box-shadow 0.3s;
  background-color: rgba(255, 255, 255, 0.92);
}
.lessonbox:hover {
  /* transform: translate(0px, -3px); */
  box-shadow: 4px 4px 10px #cbcbcb;
}
.niceblue {
  color: rgb(36, 54, 99);
}
.nodecor {
  text-decoration: none;
  cursor: pointer;
}
.linethrough {
  text-decoration: line-through;
}
.inherit {
  color: inherit;
}
.readMoreLess {
  font-size: 15px;
  color: rgb(95, 95, 95);
}
.filter-btn {
  background-color: rgb(229, 229, 229);
  padding: 4px;
  border-radius: 15px;
  padding-right:7px;
  border: 1px solid rgb(36, 54, 99);
}
.user-select-none {
  user-select: none;
}

/* **PROJECTS**  */
.project-container {
  padding: 50px 30px;
  margin-bottom: 50px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.245);
  background-color: rgba(214, 214, 214, 0.197);
  border: 1px solid rgba(178, 178, 178, 0.384);
  backdrop-filter: blur(5px);
}

/* * Development Tools Colours */
.angular {
  color: #c3002f;
}
.typescript {
  color:  #007acc;
}
.bootstrap {
  color: #8011f5;
}

/* * Custom button  */
.customButton{
  position:relative;
  padding: 0px 5px;
}
.customButton:before{
  background-color: white;
  content: "";
  z-index: -1;
  left: -10px;
  top: -6px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(36, 54, 99, 0.9);
  position: absolute;
  border-right-color: transparent;
  width: 140px;
  height: 40px;
  transform: rotate(2deg);
  border-radius: 5px;
}  
.customButton:after{
  content: "";
  z-index: -1;
  left: -5px;
  top: -5px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(36, 54, 99, 0.9);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 140px;
  height: 40px;
  transform: rotate(-1deg);
  border-radius: 5px;
}

/* * Selection Colours */
::-moz-selection { 
  color: inherit;
  background: #dcdcdc;
}
::selection {
  color: inherit;
  background: #dcdcdc;
}