body {
  background-image: url('../src/assets/images/background-image.png');
  background-attachment:fixed;
  color: rgb(36, 54, 99);
}

h1,
h2 {
  background-color: white;
  display: inline-block;
}

p {
  background-color: white;
}

h2 {
  line-height: 140%;
}

.menlo {
  font-family: 'Menlo', sans-serif;
}

.divline {
  background-color: rgb(154, 154, 154);
  height: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.addToTestText {
  font-size: 14px;
  color: rgb(185, 185, 185);
}

.lessonbox {
  color: rgb(36, 54, 99);
  padding: 40px;
  margin-bottom: 60px;
  width: 550px;
  border: 1px solid rgb(211, 211, 211);
  transition: box-shadow 0.3s;
  background-color: rgba(255, 255, 255, 0.92);
  &:hover {
    box-shadow: 4px 4px 10px #cbcbcb;
  }
}

.niceblue {
  color: rgb(36, 54, 99);
}

.nodecor {
  text-decoration: none;
  cursor: pointer;
}

.linethrough {
  text-decoration: line-through;
}

.inherit {
  color: inherit;
}

.readMoreLess {
  font-size: 15px;
  color: rgb(95, 95, 95);
}

.filter-btn {
  background-color: rgb(229, 229, 229);
  padding: 4px;
  border-radius: 15px;
  padding-right:7px;
  border: 1px solid rgb(36, 54, 99);
}

.user-select-none {
  user-select: none;
}

//* PROJECTS
.project-container {
  padding: 50px 30px;
  margin-bottom: 50px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.245);
  background-color: rgba(214, 214, 214, 0.197);
  border: 1px solid rgba(178, 178, 178, 0.384);
  backdrop-filter: blur(5px);
}

//* Development Tools Colours
.angular {
  color: #c3002f;
}
.typescript {
  color:  #007acc;
}
.bootstrap {
  color: #8011f5;
}
.firebase {
  color: rgb(255, 144, 1);
}

//* Selection Colours
::-moz-selection { 
  color: inherit;
  background: #dcdcdc;
}
::selection {
  color: inherit;
  background: #dcdcdc;
}