
body {
  background-image: url('../src/assets/images/background-image.png');
  background-attachment:fixed;
}
mark {
  color: rgb(36, 54, 99);
  background-color: white;
}

h2 {
  line-height: 140%;
}
.divline {
  background-color: rgb(154, 154, 154);
  height: 2px;
}
.cursor-pointer {
  cursor: pointer;
}
.addToTestText {
  font-size: 14px;
  color: rgb(185, 185, 185);
  cursor: pointer;
}
.lessonbox {
  color: rgb(36, 54, 99);
  padding: 40px;
  margin-bottom: 60px;
  width: 550px;
  border: 1px solid rgb(211, 211, 211);
  /* box-shadow: 4px 4px 10px #cbcbcb; */
  /* transition: transform 0.3s; */
  transition: box-shadow 0.3s;
  background-color: rgba(255, 255, 255, 0.92);
}
.lessonbox:hover {
  /* transform: translate(0px, -3px); */
  box-shadow: 4px 4px 10px #cbcbcb;
}
.niceblue {
  color: rgb(36, 54, 99);
}
.nodecor {
  text-decoration: none;
  cursor: pointer;
}
.inherit {
  color: inherit;
}

/* **PROJECTS**  */
.project-container {
  padding: 50px 30px;
  margin-bottom: 50px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.245);
  background-color: rgba(214, 214, 214, 0.197);
  border: 1px solid rgba(178, 178, 178, 0.384);
  backdrop-filter: blur(5px);
}
::-moz-selection { 
  color: inherit;
  background: #dcdcdc;
}
::selection {
  color: inherit;
  background: #dcdcdc;
}