


<div class="container-fluid">
    <div class="row">
        
        <!-- FIRST CHILD -->
        <app-form
            (itemAdded)="onItemAdded($event)"
            class="lessonbox"
        ></app-form>

        <!-- SECOND CHILD -->
        <section class="lessonbox">
            <h4>1. Passing Data Between Components</h4>
            <p class="lead"> <u>Component #2</u> </p>
            <p class="lead"> Favorite items: </p>

            <app-list
                *ngFor="let item of wishList"
                [element]="item"
            ></app-list>

        </section>

           



