


<div class="container-fluid">
    <div class="row m-3 mt-5">
        
        <app-passing-data-one class="lessonbox"></app-passing-data-one>
        <!-- <app-passing-data-two class="lessonbox"></app-passing-data-two> -->

        <section class="lessonbox">
            <h4>1. Passing Data Between Components</h4>
            <p class="lead"> <u>Component #2</u> </p>
            <p class="lead"> Fill the list using the component #1. </p>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                
                <tbody>

                    <tr *ngFor="let item of shoppingList">
                        <th scope="row">1</th>
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}}</td>
                      </tr>
                    
                </tbody>
            </table>
        </section>

    </div>
</div>




