<h4>1. Passing Data Between Components, Input, Output & ng-content</h4>
<p class="lead"> <u>Child Component #1</u> </p>
<p class="lead">
  Create a wish list with items for immediate purchase or future purchase.
</p>
<div class="mb-3">
  <input
  class="form-control rounded-1 shadow-none"
  type="text"
  placeholder="Item name..."
  [(ngModel)]="newItemName"
  >    
</div>
<div class="mb-3">
<input
  class="form-control rounded-1 shadow-none"
  type="text"
  placeholder="Description..."
  [(ngModel)]="newItemDescription"
>
</div>
<div *ngIf="infoMissing" class="alert alert-danger rounded-1 p-2 fade show" role="alert">
  Please fill both fields.
</div>
<button (click)="onImmediateAdd()" class="btn btn-primary rounded-1 me-3 mb-3">Immediate</button>
<button (click)="onFutureAdd()" class="btn btn-warning rounded-1 me-3 mb-3">Future</button>
<button (click)="onClear()" class="btn btn-success rounded-1 me-3 mb-3">Clear List</button>