<section class="d-flex justify-content-center">
    <img class="hero-img d-none d-lg-block" src="../../assets/images/home-images/hero.jpg" alt="Learning Angular Banner">
    <img class="d-lg-none img-fluid" src="../../assets/images/home-images/learning-angular-hero-mobile.jpg" alt="Learning Angular Banner">
</section>

<section class="container pt-3 mt-5 mb-5 lead">
    <h1 class="mb-4">Welcome to Learning Angular!</h1>

    <div>
        <p>I started this project along with my Angular course and I update it constantly.</p>
        <p>Here you can find my solutions on exercise ideas I came up with during the 
            course plus the projects I've implemented for some of the lessons!
        </p>
        <app-custom-button path="about">learn more!</app-custom-button>
    </div>
</section>

<section class="container pt-5 mt-5 mb-5">
    <h1 class="mb-5">Angular Sections</h1> 
    <div class="row">
        <div *ngFor="let card of homeCards let i = index" 
            class="mb-5 col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-6">
            <div class="homecard">
                <a routerLink="{{ card.link }}" class="stretched-link">
                    <img class="cardimage" src="{{card.img}}" alt="Angular banner">
                </a>
                <div class="p-3 pb-0 niceblue">
                    <div class="row">
                        <div class="col-1">
                            <h4>{{ i + 1 }}.</h4>
                        </div>
                        <div class="col justify-content-start ms-2 mb-3">
                            <div>
                                <h4>{{ card.name }}</h4>
                            </div>
                            <div>
                                <p>{{card.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>

<section class="container mt-5 mb-5">
    <h1 class="mb-5">Angular Projects</h1> 
    <div class="row">
        <div *ngFor="let project of projectCards let i = index" 
            class="mb-5 col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-xs-6">
            <div class="homecard projectCard">
                <a routerLink="{{ project.link }}" class="stretched-link">
                    <img class="cardimage" src="{{project.img}}" alt="Angular Project banner">
                </a>
                <div class="p-3 pb-0">
                    <div class="row">
                        <div class="col-1">
                            <h4>{{ i + 1 }}.</h4>
                        </div>
                        <div class="col justify-content-start">
                            <div>
                                <h4>{{ project.name }}</h4>
                            </div>
                            <div>
                                <p class="mb-4">{{project.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>