


<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        
        <!-- FIRST CHILD -->
        <div class="lessonbox col-md-6 col-lg-5 col-xxl-3 me-5">

            <h4>2. ViewChild and ng-content</h4>
            <p class="lead"> <u>Child Component #1</u> </p>



        </div>
        <!-- SECOND CHILD -->
        <div class="lessonbox col-md-6 col-lg-5 col-xxl-3">
            
            <h4>2. ViewChild and ng-content</h4>
            <p class="lead"> <u>Child Component #2</u> </p>


        </div>
    </div>
</div>
           