.container {
    max-width: 75%;
    background-color: white;
}
.carouselImage {
    width: 100%;
    /* height: auto; */
    /* height: 750px; */
}
.btn {
    color: rgb(36, 54, 99);
    border: 2px solid;
    padding: 7px 60px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.btn:hover {
    background-color: rgba(184, 194, 219, 0.255);
    border: 2px solid;
}
.carouselPlayPause {
    margin-left: 97%;
    position: absolute;
    bottom: 15px;
}
.playPauseColor {
    color: rgba(36, 54, 99, 0.77);
}